header {
	background-color:#363636;
	height:43px
}
.tools {
	width:500px
}
header form {
	margin-top:7px;
	width:100%
}
.inputbox {
	border:1px solid #a9a9a9;
	color:#979797;
	line-height:23px;
	padding:0 26px 0 3px;
	width:100%
}
.tools .inputbox {
	background-image:url('../images/icono-buscar.jpg');
	background-repeat:no-repeat;
	background-position:right top
}
.iconos {
	margin:7px 0 0;
	padding:0
}
.iconos li {
	background-repeat:no-repeat;
	float:left;
	height:25px;
	list-style:none;
	margin:0 15px 0 0;
	padding:0;
	width:22px
}
.iconos .inicio {
	background-image:url('../images/icono-inicio.png')
}
.iconos .correo {
	background-image:url('../images/icono-correo.png')
}
.iconos .mapa {
	background-image:url('../images/icono-mapa.png')
}
.iconos .intranet {
	background-image:url('../images/icono-intranet.png')
}
.iconos .directorio {
	background-image:url('../images/icono-directorio.png');
	background-position:0 3px
}
.iconos .contacto {
	background-image:url('../images/icono-contacto.png');
	background-position:0 1px
}
.iconos a {
	height:25px;
	width:22px
}
.links a {
	color:#58595b;
	font-size:11px;
	height:43px;
	line-height:43px;
	padding:0 20px;
	text-transform:uppercase
}
.links .transparencia {
	background-color:#000;
	color:#fff
}
.logo {
	margin-bottom:27px;
	margin-top:27px
}
.slides {
	background-image:url('../images/fondo-slides.jpg');
	background-repeat:no-repeat;
	background-position:center top;
}